:root {
  --Primary-Blue: #000f2c;
  --Secondary-Blue: #48bfbf;
  --Blue-Soft: #000f2c33;
}

.md-header .md-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.md-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 1rem;
}
html {
  overflow-y: hidden;
}
