<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
  <meta name="description" content="{{ page.description | default: site.t[site.lang].description | escape }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!-- Link to the Cayman theme's CSS -->
</head>
<body>
  <header>
    <div class="inner">
      <h1>{{ site.title | escape }}</h1>
      <h2>{{ site.description | escape }}</h2>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about' | relative_url }}">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="content">
    {{ content }}
  </main>
</body>
</html>
